@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar-container {
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 250;
    min-height: 2rem;
    background-color: #ffffff; /* this will be temporary change before I have the other content */
    /* this is what I was advised to use */
    /* top: 0; */
    z-index: 9999;
    padding-top: 20px;
    position: fixed; /* changed this from sticky to fixed */
    width: 100%;
}

.nav-links-container > a {
    cursor: pointer;
}

.switch-mode-container>svg {
    cursor: pointer;
    font-size: 2rem;
}

.switch-mode-container-mobile {
    display: none;
}

.nav-links-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.nav-links-container>a {
    /* I have to read about the clamp property */
    /* font-size: clamp(1rem, 1.5rem, 2.2rem); */
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.nav-links-container > a.active {
    color: blueviolet;
}

.nav-name-heading>span {
    font-weight: 300;
    font-size: 1.5rem;
    /* font-size: clamp(1rem, 1.5rem, 2.2rem); */
    cursor: pointer;
}

.header-dot {
    font-weight: 500;
    color: blueviolet;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}


@media (max-width: 768px) {

    .menu-icon {
        display: block;
        position: absolute;
        font-size: 1.8rem;
        cursor: pointer;
        color: black;
        left: 80%;
    }

    .navbar-container {
        position: relative;
        padding: 2rem 2rem;
        justify-content: space-between;
    }

    .nav-links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .links {
        position: fixed;
        top: 60px;
        right: -100%;
        width: 100%;
        padding-top: 20px;
        padding-left: 20px;
        transition: right 0.5s ease, opacity 0.5s ease;
        opacity: 0;
        /* this is so the links are displayed over the main content */
    }

    .links.active {
        background-color: white;
        height: 100vh;
        position: fixed;
        right: 0;
        opacity: 1;
    }

    .links>a {
        width: 100%;
        margin: 10px 0;
        padding: 10px 20px;
        color: #fff;
        font-size: 1.5rem;
        text-align: left;
        transition: background-color 0.3s;
    }

    .links>a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .switch-mode-container-mobile {
        display: block;
        font-size: 2rem;
    }

    .switch-mode-container-mobile > svg {
        position: fixed;
        top: 95%;
        right: 2%;
    }

    .switch-mode-container {
        display: none;
    }


}